<ion-view view-title="Button">
	<ion-content>

		<button class="button button-block">Button Block</button>
		<button class="button button-small button-assertive">Button Small</button>
		<button class="button button-full">Button Full</button>
		<button class="button button-large button-dark">Button Large</button>
		<button class="button button-outline button-assertive">Button Outline</button>
		<button class="button button-clear button-energized">Button</button>
		<button class="button icon icon-left ion-home">Home</button>
		<button class="button icon icon-right ion-home">Home</button>
		<div class="button-bar">
			<div class="button button-positive">siji</div>
			<div class='button button-energized'>loro</div>
			<div class='button button-assertive'>telu</div>
		</div>
	</ion>
</ion-view>