<ion-view view-title="Color">
   <div class="bar bar-subheader bar-royal">
   		<h2 class="title">Sub Header</h2>
   </div>
  <ion-content class="padding has-subheader">
  	   <p class="balanced">Paragraph 1...</p>
	   <p class="energized">Paragraph2...</p>
      <div class="button button-stable">
   		Click Me
	</div>
	<h2>List Input</h2>
	<div class="list">
		<label class="item item-input">
		<input type="text" placeholder="Placeholder 1">
		</label>
		<label class="item item-input">
		<input type="text" placeholder="Placeholder 2">
		</label>
	</div>
  </ion-content>
  <div class="bar bar-footer bar-assertive">
  	 <button class="button icon ion-home"></button>
	 <h1 class="title">Footer</h1>
	  <button class="button icon ion-star pull-right"></button>
  </div>
</ion-view>
