<ion-view title="Event">
	<ion-content>
			<button on-touch = "onTouchFunction()" class="button">On Touch</button>
			<button on-hold  = "onTouchFunction()" class="button">On Hold</button>
			<button on-tap   = "onTouchFunction()" class="button">On Tap</button>
			<button on-double-tap   = "onTouchFunction()" class="button">On Double Tap</button>
			<button on-release  = "onTouchFunction()" class="button">On release</button>
			<button on-drag  = "onTouchFunction()" class="button">On Drag</button>
			<button on-drag-up = "onTouchFunction()" class="button">On Drag Up</button>
			<button on-drag-right  = "onTouchFunction()" class="button">On Drag Right</button>
			<button on-drag-left   = "onTouchFunction()" class="button">On Drag Left</button>
			<button on-drag-down  = "onTouchFunction()" class="button">On Drag Down</button>
			<button on-swipe  = "onTouchFunction()" class="button">On Swipe</button>
			<button on-swipe-up  = "onTouchFunction()" class="button">On Swipe Up</button>
			<button on-swipe-right   = "onTouchFunction()" class="button">On Swipe Right</button>
			<button on-swipe-left   = "onTouchFunction()" class="button">On Swipe Left</button>
			<button on-swipe-down = "onTouchFunction()" class="button">On Swipe Down</button>
			<h3>using Keyboard</h3>
			<label class = "item item-input">
			 <input type = "text" placeholder = "Input 1">
			</label>
			<button class = "button button-block hide-on-keyboard-open">
			 button
			</button>

	</ion-content>
</ion-view>