<ion-view title="Form">
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Nama">
			</label>
			<div class="item item-input">
				<input type="text" placeholder="nama 2">
			</div>
		</div>
		<div class="list">
		 <label class="item item-input">
		 	<span class="input-label">Label 1</span>
		 <input type="text" placeholder="Placeholder 1">
		 </label>
		 <label class="item item-input">
		 	<span class="input-label">Label 1</span>
		 <input type="text" placeholder="Placeholder 2">
		 </label>
		</div>
		<div class="list">
		 <label class="item item-input item-stacked-label">
		 <span class="input-label">Label 1</span>
		 <input type="text" placeholder="Placeholder 1">
		 </label>
		 <label class="item item-input item-stacked-label">
		 <span class="input-label">Label 2</span>
		 <input type="text" placeholder="Placeholder 2">
		 </label>
		</div>
		<div class="list">
 <label class="item item-input item-floating-label">
 <span class="input-label"t>Label 1</span>
 <input type="text" placeholder="Placeholder 1">
 </label>
 <label class="item item-input item-floating-label">
 <span class="input-label">Label 2</span>
 <input type="text" placeholder="Placeholder 2">
 </label>
</div>
<div class="list">
 <div class="item item-input-inset">
 <label class="item item-input-wrapper">
 <input type="text" placeholder="Placeholder 1">
 </label>
 <button class="button">button</button>
 </div>
 <div class="item item-input-inset">
 	<label class="item item-input-wrapper">
 <i class="icon ion-edit placeholder-icon"></i>
 <input type="text" placeholder="Placeholder 2">
 </label>
 </div>
</div>
	<label class="toggle">
 <input type="checkbox">
 <div class="track">
 <div class="handle"></div>
 </div>
</label>
<label class="toggle">
 <input type="checkbox">
 <div class="track">
 <div class="handle"></div>
 </div>
</label>
<ul class="list">
 <li class="item item-toggle">
 Toggle 1
 <label class="toggle">
 <input type="checkbox">
 <div class="track">
 <div class="handle"></div>
 </div>
 </label>
 </li>
 <li class="item item-toggle">
 Toggle 4
 <label class="toggle toggle-stable">
 <input type="checkbox">
 <div class="track">
 <div class="handle"></div>
 </div>
 </label>
 </li>
</ul>
<ul class="list">
 <li class="item item-checkbox">
Checkbox
 <label class="checkbox">
 <input type="checkbox">
 <div class="track">
 <div class="handle"></div>
 </div>
 </label>
 </li>
 <li class="item item-checkbox">
 Checkbox
 <label class="checkbox checkbox-stable">
 <input type="checkbox">
 <div class="track">
 <div class="handle"></div>
 </div>
 </label>
 </li>
</ul>
<div class = "list">
 <div class = "item range range-light">
 <input type = "range" name = "volume">
 </div>
<div class = "item range">
 <i class = "icon ion-volume-low"></i>
 <input type = "range" name = "volume">
 <i class = "icon ion-volume-high"></i>
</div>
</div>

<div class = "list">
   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         Select
      </div>
		
      <select>
         <option>Option 1</option>
         <option selected>Option 2</option>
         <option>Option 3</option>
      </select>
		
   </label>

   <label class = "item item-input item-select item-stable">
      <div class = "input-label">
         Select
      </div>
		
      <select>
         <option>Option 1</option>
         <option selected>Option 2</option>
         <option>Option 3</option>
      </select>
   </label>

   <label class = "item item-input item-select item-positive">
      <div class = "input-label">
         Select
      </div>
		
      <select>
         <option>Option 1</option>
         <option selected>Option 2</option>
         <option>Option 3</option>
      </select>
   </label>
</div>

<div class = "paddingtop40 tabs-striped tabs-background-positive tabs-color-light tabs-icon-top">
 <div class = "tabs">
 <a class = "tab-item">
 <i class = "icon ion-home"></i>
 Chandeli
 </a>
 <a class = "tab-item active">
 <i class = "icon ion-star"></i>
  Chandeli
 </a>
 <a class = "tab-item">
 <i class = "icon ion-planet"></i>
  Chandeli
 </a>
 </div>
</div>
  


	</ion-content>
</ion-view>