<ion-view title="Form Advance">
	<ion-content>
		<ion-checkbox ng-model="checkboxModel.value1">Checkbox 1</ion-checkbox>
		<ion-checkbox ng-model="checkboxModel.value2">Checkbox 2</ion-checkbox>
		<p>Checkbox 1 value is: <b>{{checkboxModel.value1}}</b></p>
		<p>Checkbox 2 value is: <b>{{checkboxModel.value2}}</b></p>
		<ion-radio ng-model = "radioModel.value" ng-value = "1">Radio 1</ion-radio>
		<ion-radio ng-model = "radioModel.value" ng-value = "2">Radio 2</ion-radio>
		<ion-radio ng-model = "radioModel.value" ng-value = "3">Radio 3</ion-radio>
		<p>Radio value is: <b>{{radioModel.value}}</b></p>
		<ion-toggle ng-model = "toggleModel.value1">Toggle 1</ion-toggle>
		<ion-toggle ng-model = "toggleModel.value2">Toggle 2</ion-toggle>
		<ion-toggle ng-model = "toggleModel.value3">Toggle 3</ion-toggle>
		<p>Toggle value 1 is: <b>{{toggleModel.value1}}</b></p>
		<p>Toggle value 2 is: <b>{{toggleModel.value2}}</b></p>
		<p>Toggle value 3 is: <b>{{toggleModel.value3}}</b></p>

	</ion-content>
</ion-view>