<ion-view title="padding">
	<ion-content>
	<div class = "button button-block padding">Padding</div>
	<div class = "button button-block padding-vertical ">Padding vertical</div>
	<div class = "button button-block padding-horizontal">Padding horizontal</div>
	<div class = "button button-block padding-top ">Padding top</div>
	<div class = "button button-block padding-left">Padding left</div>
	<div class = "button button-block padding-right">Padding right</div>
	<div class = "button button-block padding-bottom">Padding bottom</div>
	<div class = "button button-block">No padding</div>
	</ion-content>
</ion-view>